<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dining Facilities</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <!-- 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link href="{{ url_for('static', filename='css/dining_facilities.css') }}" rel="stylesheet"> <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="min-h-screen flex flex-col bg-gray-50">
    <!-- Header -->
    <header class="w-full bg-white shadow-md py-4 px-8 relative z-10">
        <nav class="flex justify-between items-center max-w-7xl mx-auto">
            <div class="text-2xl font-bold text-indigo-600">MENSA APP.</div>
            <button id="menu-toggle" class="text-gray-500 hover:text-gray-700 focus:outline-none">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </nav>
    </header>
    
    <!-- Sidebar Navigation -->
    <div id="sidebar" class="fixed top-0 right-0 w-64 h-full bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-20">
        <div class="p-5">
            <button id="close-menu" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 focus:outline-none">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <nav class="mt-8">
                <a href="/about" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">About</a>
                <a href="/contact" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">Contact</a>
                <a href="/dining_facilities" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">Menu</a>
                <a href="/analysis" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">Stats</a>
                <a href="/" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">Home</a>
            </nav>
        </div>
    </div>

<main class="flex-grow flex items-center justify-center px-4 py-12">
    <div class="flex flex-col space-y-4 p-6 w-full max-w-lg"> 
        <!-- Display current selected mensa and date -->
        <!--
        <header class="mb-4">
            <h2 class="text-center text-primary">{{ selected_weekday }}  {{ selected_date  }}</h2>
        </header>
        -->
         <!-- Headline that you may choose the menu based on your preferences -->
        <h1 class="text-3xl text-center">Choose your menu based on your preferences</h1>
        <form action="{{ url_for('dining_facilities') }}" method="POST" class="space-y-4" id="filter-form">
            <!-- Dropdown Menu for Mensa -->
             <p class="text-left">Select a Mensa:</p>
            <select name="selected_mensa" id="mensa-dropdown" class="bg-violet-500 text-white px-4 py-2 rounded-md shadow hover:bg-violet-600 transition w-full">
                <!--
            <select name="selected_mensa" id="mensa-dropdown" class="bg-blue-500 text-white px-4 py-2 rounded-md shadow hover:bg-blue-600 transition w-full">
                -->
                {% for mensa in available_mensas %}
                    <option value="{{ mensa }}" {% if selected_mensa == mensa %} selected {% endif %}>{{ mensa }}</option>
                {% endfor %}
            </select>

            <!-- radio buttons for date selection -->
            <p class="text-left">Select a Date:</p>
                <div class="radio-group">
                    <input type="date" 
                    id="date_selector" 
                    name="selected_date" 
                    class="bg-violet-500 text-black px-4 py-2 rounded-md shadow hover:bg-violet-600 transition w-full" 
                    value="{{ selected_date }}"
                    min="{{ available_dates[0] }}" 
                    max="{{ available_dates[-1] }}" />
                </div>
            
                <!-- when no date is selected, return a popup that states please select a date-->
                <div class="alert alert-danger" role="alert" id="date-alert" style="display: none;">
                    Please select a date.
                </div>

                <!-- radio buttons for meat selection-->
                <p class="text-left">Select a Meat:</p>
                <div class="radio-group">
                    {% for meat in available_meat %}
                        <input type="radio" id="meat_{{ meat[0] }}" name="selected_meat" value="{{ meat[0] }}" />
                        <label for="meat_{{ meat[0] }}">{{ meat[1] }}</label>
                    {% endfor %}
                </div>

                <!-- select only vegan or vegetarian options-->
                <p class="text-left">Select a Diet:</p>
                <div class="radio-group">
                    <input type="radio" id="diet_vegan" name="selected_diet" value="vegan" />
                    <label for="diet_vegan">Vegan</label>
                    <input type="radio" id="diet_vegetarian" name="selected_diet" value="v" />
                    <label for="diet_vegetarian">Vegetarian</label>
                </div>

                <!-- toogle switch to display student or guest price-->
                <p class="text-left">Select a Price:</p>
                <div class="radio-group">
                    <input type="radio" id="price_student" name="selected_price" value="studentPrice" checked />
                    <label for="price_student">Student</label>
                    <input type="radio" id="price_guest" name="selected_price" value="guestPrice" />
                    <label for="price_guest">Guest</label>
                </div>

            <!-- Submit Button -->
            <button type="submit">Submit</button> <!-- Hidden submit button ;-->
        </form>

        <script src="{{ url_for('static', filename='js/dining_facilities.js') }}"></script>

    </div> 
            <!-- display dishes -->
    <div class="container mt-5">
        <div class="row">
            {% for dish in dishes %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ dish.menuLine }}</h5>
                        <h5 class="card-title">{{ dish.menu }}</h5>
                        <p class="card-text">
                            <small class="text-muted">
                                {% if selected_price == 'studentPrice' %}
                                    Student: {% if dish.studentPrice == -1 %} / {% else %} {{ dish.studentPrice }} {% endif %}
                                {% elif selected_price == 'guestPrice' %}
                                    Guest: {% if dish.guestPrice == -1 %} / {% else %} {{ dish.guestPrice }} {% endif %}
                                {% endif %}
                            </small>
                        </p>
                        {% if dish.allergens %}
                        <p class="card-text"><small>Allergens: {{ dish.allergens }}</small></p>
                        {% endif %}
                        {% if dish.additives %}
                        <p class="card-text"><small>Additives: {{ dish.additives }}</small></p>
                        {% endif %}

                        <div class="rating">
                            <input type="radio" id="star5_{{ dish.menuLine }}" name="rating_{{ dish.menuLine }}" value="5" />
                            <label for="star5_{{ dish.menuLine }}">&#9733;</label>
                            <input type="radio" id="star4_{{ dish.menuLine }}" name="rating_{{ dish.menuLine }}" value="4" />
                            <label for="star4_{{ dish.menuLine }}" >&#9733;</label>
                            <input type="radio" id="star3_{{ dish.menuLine }}" name="rating_{{ dish.menuLine }}" value="3" />
                            <label for="star3_{{ dish.menuLine }}">&#9733;</label>
                            <input type="radio" id="star2_{{ dish.menuLine }}" name="rating_{{ dish.menuLine }}" value="2" />
                            <label for="star2_{{ dish.menuLine }}">&#9733;</label>
                            <input type="radio" id="star1_{{ dish.menuLine }}" name="rating_{{ dish.menuLine }}" value="1" />
                            <label for="star1_{{ dish.menuLine }}">&#9733;</label>
                        </div>

                        <button class="submit-rating" data-menu-line="{{ dish.menuLine }}" data-id="{{ dish.id }}">Submit Rating</button>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </main>
 <script>
    const menuToggle = document.getElementById('menu-toggle');
    const closeMenu = document.getElementById('close-menu');
    const sidebar = document.getElementById('sidebar');

    menuToggle.addEventListener('click', () => {
        sidebar.classList.toggle('translate-x-full');
    });

    closeMenu.addEventListener('click', () => {
        sidebar.classList.add('translate-x-full');
    });
</script>
</body>
</html>