<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

</head>

<body class="min-h-screen flex flex-col bg-gray-50">
    <!-- Background Image with Overlay -->
    <div class="bg-image fixed inset-0 z-0"></div>
    <!-- Header -->
    <header class="w-full bg-white shadow-md py-6 px-8 relative z-10">
        <nav class="relative">
            <!-- App title -->
            <div class="nav-container flex justify-between items-center">
                <a href="{{ url_for('index') }}" class="text-xl font-bold text-indigo-600 absolute left-1">
                    MENSA APP.
                </a>
                
                <!-- Language Buttons - Centered -->
                <div class="absolute left-1/2 transform -translate-x-1/2 flex gap-2">
                    <a href="{{ url_for('set_language', lang='en') }}" 
                    class="px-3 py-1 rounded-md text-sm font-medium {% if session.get('language') == 'en' %}bg-gray-200{% else %}text-gray-700 hover:bg-gray-100{% endif %}">
                        EN
                    </a>
                    <a href="{{ url_for('set_language', lang='de') }}"
                    class="px-3 py-1 rounded-md text-sm font-medium {% if session.get('language') == 'de' %}bg-gray-200{% else %}text-gray-700 hover:bg-gray-100{% endif %}">
                        DE
                    </a>
                </div>
    
                <!-- Menu Toggle -->
                <button id="menu-toggle" class="text-gray-500 hover:text-gray-700 focus:outline-none absolute right-1">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
          </nav>
    </header>

    <!-- Sidebar Navigation -->
    <div id="sidebar" class="fixed top-0 right-0 w-64 h-full bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-20">
        <div class="p-5">
            <button id="close-menu" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 focus:outline-none">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            {% if username %}
            <div class="flex items-center space-x-3 mb-6">
                <div class="w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center text-lg font-semibold text-gray-700">
                </div>
                <div>
                    <p class="text-sm font-medium text-gray-800">Logged in as:</p>
                    <p class="text-sm font-bold text-gray-900">{{ username }}</p>
                </div>
            </div>
            {% else %}
            <p class="text-sm text-center text-gray-700 font-medium mb-6">You are not logged in.</p>
            {% endif %}
            <nav class="mt-8">
                <a href="/" class="text-sm block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">
                    {% if session.get('language') == 'de' %}Start{% else %}Home{% endif %}
                </a>
                <a href="/menu" class="text-sm block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">
                    {% if session.get('language') == 'de' %}Speisekarte{% else %}Menu{% endif %}
                </a>
                <a href="/analysis" class="text-sm block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">
                    {% if session.get('language') == 'de' %}Analyse{% else %}Analysis{% endif %}
                </a>
                <a href="/rating" class="text-sm block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">
                    {% if session.get('language') == 'de' %}Bewertungen{% else %}Rating{% endif %}
                </a>
                <a href="/navigation" class="text-sm block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-200 hover:text-gray-900">
                    {% if session.get('language') == 'de' %}Navigation{% else %}Navigation{% endif %}
                </a>
                {% if username %}
                <a href="/user" class="text-sm block py-2.5 px-4 rounded transition duration=200 hover:bg-gray-200 hover:text-gray-900">{% if session.get('language') == 'de' %}Benutzerkonto{% else %}Account{% endif %}</a> 
                <a href="{{ url_for('logout') }}" class="text-sm block py-2.5 px-4 rounded transition duration=200 hover:bg-gray-200 hover:text-gray-900">Logout</a> 
                {% else %}
                    <a href="{{ url_for('login') }}" class="text-sm block py-2.5 px-4 rounded transition duration=200 hover:bg-gray-200 hover:text-gray-900">Login</a> 
                {% endif %}
            </nav>
        </div>
    </div>


 <!-- Main Content -->
<div class="flex-grow flex items-center justify-center px-4 py-2 relative z-10">
    <div class="content-wrapper max-w-4xl w-full p-2 bg-white rounded-xl shadow-sm border border-gray-100">
        <h1 class="text-xl font-bold text-gray-900 mb-2 text-center">
            {% if session.get('language') == 'de' %}
                    Anmeldung Benutzerkonto
                {% else %}
                    Account Access
                {% endif %}
        </h1>
        <p class="text-gray-800 mb-2 text-center leading-relaxed">
            {% if session.get('language') == 'de' %}
                    Melden Sie sich an, um weitere Gerichte zu bewerten um ihre persönliche Empfehlungen zu optimieren!
                {% else %}
                    Sign up to rate other dishes to optimize your personal recommendations!
                {% endif %}
        </p>        
        
        <!-- Section -->
        <div class="mt-2 form-wrapper mx-auto max-w-md p-6 rounded-xl shadow-sm">
            <form id="auth-form" action="{{ url_for('login') }}" method="post" class="space-y-6">
                <div>
                    <label for="username" class="text-sm text-gray-500">
                        {% if session.get('language') == 'de' %}
                            Nutzername
                        {% else %}
                            Username
                        {% endif %}
                    </label>
                    <input type="text" id="username" name="username" required 
                           class="mt-1 w-full px-4 py-2 border border-gray-100 rounded-md focus:ring-2 focus:ring-indigo-500">
                </div>
                
                <div>
                    <label for="password" class="text-sm text-gray-500">
                        {% if session.get('language') == 'de' %}
                            Passwort
                        {% else %}
                            Password
                        {% endif %}
                    </label>
                    <input type="password" id="password" name="password" required 
                           class="mt-1 w-full px-4 py-2 border border-gray-100 rounded-md focus:ring-2 focus:ring-indigo-500">
                </div>

                <div class="flex flex-col space-y-4">
                    <button type="submit" value="Login" 
                            class="w-full px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition duration-300">
                        {% if session.get('language') == 'de' %}
                            Anmelden
                        {% else %}
                            Sign in
                        {% endif %}
                    </button>
                    <button type="button" value="Register" onclick="setActionForm('register')"
                            class="w-full px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-900 transition duration-300">
                            {% if session.get('language') == 'de' %}
                                Konto erstellen
                            {% else %}
                                Create Account
                            {% endif %}
                    </button>
                </div>

                <div class="relative flex items-center justify-center">
                    <div class="border-t border-gray-100 w-full"></div>
                    <span class="px-4 text-sm text-gray-500">
                        {% if session.get('language') == 'de' %}
                        oder weiter mit
                        {% else %}
                        or continue with
                        {% endif %}
                    </span>
                    <div class="border-t border-gray-100 w-full"></div>
                </div>

                <button type="button" onclick="window.location.href='{{url_for('login_google')}}'"
                        class="w-full px-4 py-2 bg-white border border-gray-100 rounded-md text-gray-700 hover:bg-gray-50 transition duration-300 flex items-center justify-center">
                    <img src="{{ url_for('static', filename='images/google_logo.png') }}" alt="Google" class="h-5 w-5 mr-2">
                    {% if session.get('language') == 'de' %}
                    Mit Google fortfahren
                    {% else %}
                    Continue with Google
                    {% endif %}
                </button>
            </form>

            {% if error %}
            <div class="mt-4 p-4 bg-red-50 border border-red-200 rounded-md">
                <p class="text-red-600">{{ error }}</p>
            </div>
            {% endif %}
        </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-white border-t border-gray-200 py-3 px-8 relative z-10">
        <div class="max-w-6xl mx-auto text-center text-gray-800">
            &copy; 2024 MENSA APP. All rights reserved.
        </div>
    </footer>
    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const closeMenu = document.getElementById('close-menu');
        const sidebar = document.getElementById('sidebar');
    
        menuToggle.addEventListener('click', () => {
            sidebar.classList.toggle('translate-x-full');
        });
    
        closeMenu.addEventListener('click', () => {
            sidebar.classList.add('translate-x-full');
        });
    </script>
    <script>
        function setActionForm(action) {
            let form = document.getElementById('auth-form');
            if (action === 'login') {
                form.action = "{{ url_for('login') }}";
                form.method = 'post';
                form.submit();
            } else if (action === 'register') {
                form.action = "{{ url_for('register') }}";
                form.method = 'post';
                form.submit();
            }
        }
    </script>
</body>
</html>