<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .font-script {
            font-family: 'Dancing Script', cursive;
        }
        .bg-soft-beige {
            background-color: #D2BD96;
        }
    </style>
</head>

{% block body %}
<div class="container">
    <h1>Welcome, {{username}}!</h1>
    <p>Welcome to your personal area</p>
    <a href ="{{url_for('logout')}}" class="btn btn-logout">Logout</a>
{% endblock %}

