<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Menu Overview</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/weekly_menu.css') }}" rel="stylesheet"> <!-- Custom CSS -->
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Weekly Menu Overview</h1>

        <table class="table">
            <thead>
                <tr>
                    <th class="top-left"></th> <!-- Empty top-left cell for restaurant names -->
                    {% for day in days %}
                    <th class="day-header">{{ day }}</th> <!-- Days of the week as headers -->
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for restaurant in overview_data %}
                <tr>
                    <td class="restaurant-name">{{ restaurant['name'] }}</td> <!-- Restaurant names in the first column -->
                    {% for dishes,day in zip(restaurant['dishes'],days) %}
                    <td class="dish-box">
                        <ul class="list-unstyled mb-0">
                            {% for dish in dishes %}
                                {% for menu_type,menu_name in dish.items() %}
                                    <li>
                                       <a class="dish-link" onclick="sendDishData('{{ restaurant["name"] }}', '{{ day }}')">
                                        <strong>{{ menu_type }}</strong>: {{ menu_name}}
                                        </a>

                                    </li>
                                {% endfor %}
                            <!-- <li><strong>{{ dish['name'] }}</strong>: {{ dish['description'] }}</li> -->
                            
                            {% endfor %}
                        </ul>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script> <!-- Custom JS -->
</body>
</html>